body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a; 
    color: #cccccc;
  }
  
  table {
    border-collapse: collapse;
    width: 75%;
    margin-top: 20px;
    background-color: rgb(64, 64, 64); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
  }
  
  th, td {
    border: 1px solid #999999; 
    padding: 12px;
    text-align: left;
    color: #ffffff; 
  }
  
  th {
    cursor: pointer;
    background-color: #1a1a1a; 
    color: #ffffff;
  }
  
  th:hover {
    background-color: #686868; 
  }
  
  tbody tr:hover {
    background-color: #686868; 
  }
  